<h2>{{title}}</h2>
<p>{{content}}</p>
<p>Posted by {{user.username}} on {{createdAt}}</p>

{{#if logged_in}}
  <form id="comment-form">
    <textarea name="content" id="content" placeholder="Add a comment..."></textarea>
    <button type="submit">Submit</button>
  </form>
  <script src="/js/comment.js"></script>
{{/if}}

{{#each comments}}
  <div>
    <p>{{this.content}}</p>
    <p>Commented by {{this.user.username}} on {{this.createdAt}}</p>
  </div>
{{/each}}
